extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-2
          img.avatar.img-circle-hidden-xs-down(src='images/avatar.png', alt='avatar')
          | #{name}
        //- h2.favorite-book Favorite Book  
        //- | #{favorite}
        form(method='POST' action='/profile')
          .form-group
            label(for='mediaType', name='mediaType') Add new media
            select(name='mediaType')#mediaType.form-control
              option Book
              option Music
              option Movie
          .form-group
            label(for='title') Title
            input(type='text', placeholder='type title of new item' name='title').form-control(rows='3')
          .form-group
            label(for='genre') Genre
            input(type='text', placeholder='type genre of new item' name='genre').form-control(rows='3')
          .form-group
            label(for='author') Author
            input(type='text', placeholder='type author of new item' name='author').form-control(rows='3')
          button.btn.btn-secondary(type='submit') Add media
        .tables
          .media-group
            h1.display-4 Books
              i.icn-logo.material-icons book
            table.table.table-striped
              thead
                tr
                  th(scope='col') #
                  th(scope='col') title
                  th(scope='col') genre
                  th(scope='col') author
              tbody
                for item, index in books
                  tr
                    th(scope='row')= index+1
                    td= item.title
                    td= item.genre
                    td= item.author
          .media-group
            h1.display-4 Music
              i.icn-logo.material-icons library_music
            table.table.table-striped
              thead
                tr
                  th(scope='col') #
                  th(scope='col') title
                  th(scope='col') genre
                  th(scope='col') author
              tbody
                for item, index in music
                  tr
                    th(scope='row')= index+1
                    td= item.title
                    td= item.genre
                    td= item.author
          .media-group
            h1.display-4 Movies
              i.icn-logo.material-icons voice_chat
            table.table.table-striped
              thead
                tr
                  th(scope='col') #
                  th(scope='col') title
                  th(scope='col') genre
                  th(scope='col') author
              tbody
                for item, index in movies
                  tr
                    th(scope='row')= index+1
                    td= item.title
                    td= item.genre
                    td= item.author